h1 {outline-style: dotted; outline-color:salmon}
p{
	font-family: "Lucida conselen", Lucida, Monospace; font-style: oblique;
	}
	h1{
	   text-shadow: 3px 1px white;
	}
	img {
	   border-radius: 150px
	} 

	body {px; color: purple; text-shadow: 2px 2px white; border-style:solid}